<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="xeno">

  <!-- Import xeno_urdf macro -->
  <xacro:include filename="$(find xeno_urdf)/xeno_urdf/urdf/xeno_urdf_description.urdf.xacro" />

  <xacro:include filename="$(find xeno_control)/description/ros2_control/xeno.ros2_control.xacro" />
  <xacro:xeno_ros2_control name="xeno" />
</robot>